body * {
  color: #406E86;
}

.app {
  display: grid;
  grid-template-columns: 20% 80%;
  font-family: Montserrat,
    sans-serif;
  height: 100vh;
}

.sidebar {
  background-color: #051d31;
  font-weight: bold;
  padding-top: 60%;
}

.sidebar a {
  background-color: white;
}

.sidebar ul {
  padding: 0;
}

.sidebar__link {
  margin-bottom: 6px;
  padding: 8px;
  display: block;
  text-decoration: none;
  font-weight: bold;
}

.header {
  display: flex;
}

main>p {
  padding-left: 30px;
}